/*
.user-input {
  max-width: 400px;
  margin: 0 auto;
  font-size: 80%;
}
.user-input > div {
  position: relative;
  background: white;
}
.user-input > div > label {
  opacity: 0.25;
  font-weight: bold;
  position: absolute;
  top: 25px;
  left: 25px;
}
.user-input > div > input[type='text'],
.user-input > div > input[type='email'],
.user-input > div > input[type='password'] {
  width: 100%;
  height: 47.5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
  padding-left: 45px;
  border: 0;
  border-radius: 15px;
  background: #eee;
}
.user-input > div > input[type='text']:focus,
.user-input > div > input[type='email']:focus,
.user-input > div > input[type='password']:focus {
  outline: 0;
  border: .75px solid #4a92a8;
  background-color: white;
}
.user-input > div > input[type='text']:focus + label,
.user-input > div > input[type='email']:focus + label,
.user-input > div > input[type='password']:focus + label {
  opacity: 0;
}
.user-input > div > input[type='text']:valid,
.user-input > div > input[type='email']:valid,
.user-input > div > input[type='password']:valid {
  background: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" style="fill:#4a92a8;">\
      <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627\
    0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435\
    3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"/>\
    </svg>');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 15px 15px;
}
.user-input > div > input[type='text']:valid + label,
.user-input > div > input[type='email']:valid + label,
.user-input > div > input[type='password']:valid + label {
  opacity: 0;
}
.user-input > div > input[type='text']:invalid:not(:focus):not(:placeholder-shown),
.user-input > div > input[type='email']:invalid:not(:focus):not(:placeholder-shown),
.user-input > div > input[type='password']:invalid:not(:focus):not(:placeholder-shown) {
  background: pink;
}
.user-input > div > input[type='text']:invalid:not(:focus):not(:placeholder-shown) + label,
.user-input > div > input[type='email']:invalid:not(:focus):not(:placeholder-shown) + label,
.user-input > div > input[type='password']:invalid:not(:focus):not(:placeholder-shown) + label {
  opacity: 0;
}
.user-input > div > input[type='text']:invalid:focus:not(:placeholder-shown) ~ .requirements,
.user-input > div > input[type='email']:invalid:focus:not(:placeholder-shown) ~ .requirements,
.user-input > div > input[type='password']:invalid:focus:not(:placeholder-shown) ~ .requirements {
  max-height: 200px;
  padding: 0 30px 20px 50px;
}
.user-input > div .requirements {
  padding: 0 30px 0 50px;
  max-height: 0;
  transition: 0.28s;
  overflow: hidden;
  color: #5e71ed;
  font-style: italic;
}
.user-input select {
  width: 100%;
  height: 37.5px;
  border-radius: 10px;
  outline: 0;
  margin: 10px 10px 25px;
  padding: 5px 10px;
  text-align: center;
  background: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24">\
      <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>\
    </svg>');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 98%;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
.user-input select::-ms-expand {
    display: none;
}
.user-input #invoiceAddrToggle {
  text-align: left;
  margin: 35px 20px 15px;
}
.user-input #invoiceAddrToggle label {
  height: 24px;
  line-height: 24px;
  font-size: 15px;
  position: static;
  opacity: .8;
}
*/

.user-input #invoiceAddrToggle input[type='checkbox'] {
  display: none;
}
.user-input #invoiceAddrToggle input[type='checkbox'] + label .check {
  margin-right: 8px;
  width: 42px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: -1;
}
.user-input #invoiceAddrToggle input[type='checkbox'] + label .check:before, input[type='checkbox'] + label .check:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: ' ';
  display: block;
  height: 24px;
  position: absolute;
  left: 0;
}
.user-input #invoiceAddrToggle input[type='checkbox'] + label .check:before {
  top: 0;
  border: 1px solid #cecece;
  border-radius: 18px;
  background: #fafafa;
  width: 42px;
  transition: border-width 0.3s, border-color 0.1s ease 0.3s;
}
.user-input #invoiceAddrToggle input[type='checkbox'] + label .check:after {
  top: 0;
  background: #fafafa;
  border-radius: 50%;
  height: 24px;
  left: 2px;
  right: 16px;
  box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.4), 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: right 0.2s ease-in, left 0.2s ease-out;
}
.user-input #invoiceAddrToggle input[type='checkbox']:checked + label .check:after {
  left: 18px;
  right: 0;
  transition: left 0.2s ease-in, right 0.2s ease-out;
}
.user-input #invoiceAddrToggle input[type='checkbox']:checked + label .check:before {
  transition: border-width 0.3s, border-color 0.1s;
  border-width: 12px;
  border-color: #4a92a8;
}

/*
@media only screen and (max-width: 500px) {
  .user-input > div > input[type='text'],
  .user-input > div > input[type='email'],
  .user-input > div > input[type='password'],
  .user-input select {
    max-width: 80vw;
  }
  .user-input #invoiceAddrToggle label {
    font-size: 12px;
  }
  .user-input > div .requirements {
    padding: 0 20px 0 40px;
    font-size: 12px;
  }
}
*/
