$color-primary: #4a92a8;
$color-secondary: #8e9ea3;
$color-tertiary: #8eb6c2;
$color-light: #f7f7f7;
$color-highlight: #60e7ff;
$color-error: pink;
$color-bg-main: $color-light;

$amplitude-translate: 5px;
