.home-section {
  justify-content: center !important;  

  &::after {
    background-image: url('../../../assets/img/partitur.jpg');
  }
}

/*
.home-section h1 {
  font-size: 2em !important;
  font-weight: 400 !important;
  margin: 0 !important;
}
.home-section h2 {
  font-weight: 200 !important;
  color: #4a92a8 !important;
  margin: 10px !important;
}
.home-section h3 {
  font-size: 2.4em !important;
  font-weight: 700 !important;
  margin: 0 !important;
}
.typewriter{  
  width: 12.5em;
  margin: 10px auto;
  border-right: 2px solid #4a92a8;
  color: #4a92a8;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation:
    letters 1.8s  steps(25) 1s 1 normal both, // 1.8s = 26 * 70ms
    cursor  500ms steps(25) infinite normal;
  }
  @keyframes letters {
    from { width: 0; }
    to   { width: 12.5em; }
  }
  @keyframes cursor {
    from { border-right-color: #4a92a8; }
    to   { border-right-color: transparent; }
  }

  */
.super-title * {
  font-size: 3em !important;
  color: #777;
  margin: 0 !important;
}

.typewriter-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;

  * {
    margin: 0 !important;
    font-size: 2.6em !important;
  }

  h2 {
    color: #4a92a8 !important;
  }

  h1 {
    font-weight: 200 !important;
  }
}

.typewriter {
  width: fit-content;
  padding: 0 5px;
  border-right: 2px #4a92a8 solid;
  /* font-family: monospace !important; */
  text-align: left;
  white-space: nowrap;
  animation: cursor .6s infinite normal;
}

//TODO: use mixin
@keyframes cursor {
  from { border-right-color: #4a92a8; }
  to   { border-right-color: transparent; }
}

@media (max-width: 700px) {
  .super-title * {
    font-size: 8vw !important;
  }
  .typewriter-title * {
    font-size: 6.25vw !important;
  }
}

.scroll-down {
  position: absolute;
  bottom: 20vh;
  left: calc(50vw-25px);
  width: 50px;
  height: 50px;
  padding: 0;
  background: transparent;
  border: 0 transparent;
  border-radius: 50%;
  outline: 0 !important;
  cursor: pointer;
  -webkit-animation: updown 1s ease-out infinite;
  -moz-animation: updown 1s ease-out infinite;
  -ms-animation: updown 1s ease-out infinite;
  animation: updown 1s ease-out infinite;

  svg {
    width: 40px;
    height: 40px;
    fill: #444;
  }

  &:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
  }

  &:hover svg {
    fill: #4a92a8;
  }
}
