/* Content container */

.content-area {
  width: 75%;
}
@media (max-width: 650px) {
  .content-area {
    width: 100%;
  }
}

/* Full width wrapper with overlay */

.full-width {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 100px 10%;
}
.full-width::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.15;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.full-width .title {
  width: 25%;
  min-width: 250px;
  display: flex;
  justify-content: flex-end;
  padding: 0 40px 20px;
  font-size: 1.33em;
  font-weight: bold;
  text-align: right;
  margin-top: -6px;
}
.full-width .content {
  width: 75%;
  min-width: 250px;
}

/* Side-by-side panels */

.panels-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.panels-wrapper h3 {
  font-size: 1.6em !important;
  margin: 0 0 20px;
  color: #4a92a8;
}
.panel {
  display: block;
  max-width: 22%;
  min-width: 300px;
  min-height: 300px;
  margin: 1%;
  padding: 20px;
  background-color: rgba(145, 174, 207, .1);
}

/* Overlay */

.overlay {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4a92a8;
  color: #f7f7f7;
}
.overlay.active {
  opacity: 1;
  z-index: 100;
  transition: all 1s;
}
.overlay.inactive {
  opacity: 0;
  z-index: -1;
  transition: all 1s;
}

/* Button */

.button-container-outer {
  display: block;
  width: 100%;
}
.button-container-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.button-wrapper button {
  position: relative;
  width: 200px;
  min-height: 60px;
  margin: 15px;
  padding: 15px 30px;
  font-size: .9em;
  font-weight: 600;
  color: #f7f7f7;
  background-color: #4a92a8;
  cursor: pointer;
  outline: 0;
  border: 0 transparent;
  border-radius: 30px;
  transition:
    background-color .4s,
    border-radius .6s ease-in 1s,
    width .4s ease-out 1.6s,
    padding .4s linear 1.6s,
    color .5s ease-in 2s;
}
.button-wrapper.dark button {
  background: #444;
}
.button-wrapper button:hover {
  background-color: #8eb6c2;
  transition: background-color .4s;
}

.button-wrapper.animated button {
  width: 60px;
  padding: 0;
  color: transparent;
  background-color: #8eb6c2;
  border-radius: 50%;
  transition:
    background-color .2s,
    color .4s,
    width .6s ease-in .4s,
    padding .6s linear .4s,
    border-radius .5s ease-out 1s;
}
.button-wrapper.animated button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  opacity: 0;
  background: transparent;
  border: 0 transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(74, 146, 168, 0.5);
  -webkit-animation: submit-loader 1s cubic-bezier(0.66, 0, 0, 1) 1.5s infinite;
  animation: submit-loader 1s cubic-bezier(0.66, 0, 0, 1) 1.5s infinite;
}
.button-wrapper.animated button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 60px;
  opacity: 0;
  background-image: url('data:image/svg+xml;utf8,\
    <svg xmlns="http://www.w3.org/2000/svg" fill="#f7f7f7" width="60" height="60" viewBox="0 0 35 35">\
      <path d="M0 12l11 3.1 7-8.1-8.156 5.672-4.312-1.202 15.362-7.68-3.974 14.57-3.75-3.339-2.17\
        2.925v-.769l-2-.56v7.383l4.473-6.031 4.527 4.031 6-22z"\
      />\
    </svg>'
  );
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  transform: scale(.75) translate(6px, 10px);
  -webkit-animation: submit-plane 1.5s ease-in 1.5s forwards;
  animation: submit-plane 1.5s ease-in 1.5s forwards;
}

/* Form */

.form-wrapper {
  position: relative;
  width: 75%;
  min-width: 250px;
  max-width: 750px;
  margin: 0 auto 50px;
}

.input-wrapper {
  width: 75%;
  margin: 0 auto;
  position: relative;
}
.input-wrapper label {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 10px;
  font-size: 1em;
  color: #777;
  cursor: text;
  transition: all .4s ease;
}
.input-wrapper input {
  width: 100%;
  height: 50px;
  margin: 25px 0;
  padding: 0 10px;
  background: transparent;
  outline: 0;
  border-width: 0 0 1.25px;
  border-radius: 0;
  border-style: solid;
  border-color: #9dabaf;
  transition: all .4s ease;
}
.input-wrapper input:focus {
  border-color: #b8d6e0;
  transition: all .4s ease;
}
.input-wrapper input:focus + label,
.input-wrapper .input-not-empty {
  bottom: -25px !important;
  font-size: .8em !important;
  transition: all .4s ease;
}
.input-wrapper textarea {
  width: 100%;
  min-height: 100px;
  margin: 50px 0 25px;
  padding: 0 10px;
  background: none;
  border-width: 0 0 0 1.25px;
  border-radius: 0;
  border-style: solid;
  border-color: #9dabaf;
  outline: 0 !important;
  resize: none;
  transition: all .4s ease;
}
.input-wrapper textarea:focus {
  min-height: 200px;
  border-color: #b8d6e0;
  transition: all .4s ease;
}
.input-wrapper .textarea-not-empty {
  min-height: 200px !important;
}
.input-wrapper textarea::placeholder {
  font-size: 1em;
  color: #777;
}
.input-wrapper textarea::-webkit-scrollbar {
  width: 10px;
}
.input-wrapper textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #6c7377;
  border-radius: 5px;
}
.input-wrapper textarea::-webkit-scrollbar-thumb {
  background: #6c7377; 
  border-radius: 5px;
}
.input-wrapper textarea::-webkit-scrollbar-thumb:hover {
  background: #94a0a7; 
}
.input-wrapper.used-input input:invalid,
.input-wrapper.used-input textarea:invalid {
  border-color: pink;
  transition: all .4s ease;
}
.input-wrapper.used-input input:valid,
.input-wrapper.used-input textarea:valid {
  border-color: #9dabaf !important;
  transition: all .4s ease;
}
.input-wrapper.empty-input input,
.input-wrapper.empty-input textarea {
  border-color: pink;
  transition: all .4s ease;
}
.input-wrapper.empty-input label {
  -webkit-animation: wiggle .8s;
  animation: wiggle .8s;
}

/* Quote */

.quote-wrapper {
  width: 60vw;
  margin: 40px auto;
  text-align: left;
}
.quote-symbol {
  padding: 0 0 5px 0;
}
.quote-symbol svg {
  width: 40px;
  height: 40px;
}
.quote-phrase {
  margin: 20px 0;
  font-size: 1.2em;
}
.quote-source {
  font-weight: 700;
  color: #4a92a8;
  text-transform: lowercase;
}
