//@import '../../../App.css';
@import '../../../utilities/variables';

.shop-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.shop-shelf {
  display: grid;
  height: 100%;
  grid-template: 350px / repeat(4, 350px);
  grid-auto-flow: row dense;
  grid-auto-rows: 350px;
  grid-gap: 15px;
}
/* OSX/iOS "polyfill" */
.shelf-item * {
  font-family: 'Montserrat', sans-serif;
}
/**/

.item-name {
  font-size: .95em;
  font-weight: 600;
  color: $color-highlight;
}

.item-oldprice {
  text-decoration: line-through;
  font-size: 85%;
  font-weight: 300;
}

.shelf-item {
  grid-row: span 1;
  grid-column: span 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-flow: row wrap;
  //padding: 15px;
  color: #efefef;
  font-weight: 400;
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;

  &::before {
    content: '';
    display: block;
    background-color: #333;
    background-image: linear-gradient(#ccc, black);
    opacity: .2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .3s linear;
    z-index: 11;
  }

  &:hover::before {
    opacity: .5;
    background-color: #7ec2dd; /* 5e71ed */
    background-image: linear-gradient(#79bfdf, #61b8db);
    transition: all .3s linear;
  }

  .background {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
    /*filter: url(resources.svg#desaturate);*/
    filter: gray;
    -webkit-filter: grayscale(1);
  }

  button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    cursor: pointer;
    z-index: 13;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .discount {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #4a92a8;
    border-radius: 20px;
    padding: 2.5px 7.5px;;
    z-index: 12;
  }

  .caption {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: right;
    background: rgba(51, 51, 51, .5);
    z-index: 12;
  
    //li:first-child {
    //  font-family: 'Quicksand';
    //  font-weight: 800;
    //  font-size: 1.1em;
    //}

    .name {
      @extend .item-name;
    }

    .price {
      font-size: .98em;
      font-weight: 700;
    }
    
    .oldprice {
      @extend .item-oldprice;
      margin-left: 10px;
    }
  }
}

@media (max-width: 1700px) {
  .shop-shelf {
    grid-template: 325px / repeat(4, 325px);
    grid-auto-rows: 325px;
  }
}

@media (max-width: 1380px) {
  .shop-shelf {
    grid-template: 310px / repeat(3, 310px);
    grid-auto-rows: 310px;
  }
}

@media (max-width: 1000px) {
  .shop-shelf {
    grid-template: 295px / repeat(2, 295px);
    grid-auto-rows: 295px;
  }
}

@media (max-width: 650px) {
  .shop-shelf {
    grid-template: 280px / repeat(1, 280px);
    grid-auto-rows: 280px;
  }
}

.details-division {
  position: fixed;
  background: white;
  border: 0 transparent;
  overflow-y: hidden;

  &.collapsed {
    z-index: -1;
    opacity: 0;
    top: 50%; 
    left: 50%;
    right: 50%;
    bottom: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    -webkit-transition: all .4s .4s ease-in;
    -moz-transition: all .4s .4s ease-in;
    -ms-transition: all .4s .4s ease-in;
    -o-transition: all .4s .4s ease-in;
    transition: all .4s .4s ease-in;
  }

  &.expanded {
    z-index: 20;
    opacity: 1;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
  }

  .details-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    margin: 10vh auto;
    overflow-y: auto;
    color: black;
    background: white;

    &.expanded {
      opacity: 1;
      transition: all .4s .4s;
    }

    &.collapsed {
      opacity: 0;
      transition: all .4s;
    }

    .header-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1.4px #d0dfe2 solid;

      .header {
        width: 80%;

        .name {
          @extend .item-name;
        }

        .oldprice {
          @extend .item-oldprice;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 3px #adbac1; 
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: #d0dfe2; 
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #94a0a7; 
    }
  }
}

.pulsate-fast {
  box-shadow: 0 0 0 0 rgba(74, 146, 168, 0.5);
  -webkit-animation: pulsate .6s cubic-bezier(0.66, 0, 0, 1) .3s 2;
  -moz-animation: pulsate .6s cubic-bezier(0.66, 0, 0, 1) .3s 2;
  -ms-animation: pulsate .6s cubic-bezier(0.66, 0, 0, 1) .3s 2;
  -o-animation: pulsate .6s cubic-bezier(0.66, 0, 0, 1) .3s 2;
  animation: pulsate .6s cubic-bezier(0.66, 0, 0, 1) .3s 2;
}/* pulsate from App.css */

.details-close {
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
  padding: 0;
  margin: 0 0 25px 0;
  cursor: pointer;
  background: #eee;
  outline: 0 !important;
  border: 0 transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(74, 146, 168, 0.5);
  transition: all .6s;
  -webkit-animation: pulsate 1.4s cubic-bezier(0.66, 0, 0, 1) .8s infinite;
  -moz-animation: pulsate 1.4s cubic-bezier(0.66, 0, 0, 1) .8s infinite;
  -ms-animation: pulsate 1.4s cubic-bezier(0.66, 0, 0, 1) .8s infinite;
  -o-animation: pulsate 1.4s cubic-bezier(0.66, 0, 0, 1) .8s infinite;
  animation: pulsate 1.4s cubic-bezier(0.66, 0, 0, 1) .8s infinite;
  /* pulsate from App.css */

  &:hover {
    background: transparent;
    transition: all .1s;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
  }

  svg {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &:hover svg {
    fill: #4a92a8;
    transition: all .2s;
  }
}

.details-grid {
  display: grid;
  height: 100%;
  grid-template: fit-content(100%) 1fr / fit-content(100%) 1fr;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-gap: 25px;
  padding: 25px;
  border: 0 #fff;
  border-radius: 0;
}
.details-side {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &.left {
    grid-column: span 1;
    margin: 0 auto 2.2rem;
  }

  &.right {
    grid-column: 2 / span 1;
  }

  &.top {
    grid-row: span 1;
  }

  &.bottom {
    grid-row: 2 / span 1;
    margin: 0 auto 2.2rem;
  }

  &.wrap {
    grid-row: span 2;
  }

  & img {
    width: 400px;
  }
}

@media (max-width: 1380px) {
  .details-side {
    &.left {
      grid-column: span 2;
    }

    &.right {
      grid-column: span 2;
    }

    &.top {
      grid-row: span 1;
    }

    &.bottom {
      grid-row: 2 / span 1;
    }

    &.wrap {
      grid-row: span 2;
      justify-content: center;
      align-items: center;
    }

    img {
      padding: 20px 0;
    }
  }
}

@media (max-width: 600px) {
  .details-side img {
    width: 100%;
    padding: 20px 0;
  }
}

@media (max-width: 400px) {
  .details-panel .details-title {
    font-size: 1.1em !important;
  }
}

/*
.btn-collapse {
  width: 240px;
  height: 60px;
  border-radius: 30px;
}
.btn-collapse-clicked {
  width: 0;
  height: 60px;
  border-radius: 30px;
  background: #4a92a8;
  color: transparent;
  opacity: .4;
  overflow: hidden;
  padding: 0;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
}
*/